extends base

block sidebarContent
  h2 T&A
  br
  h3 Select Category
  select(id="categorySelector", onchange="toggleSelection()")
    option(value="") Select
    option(value="professor") Professor
    option(value="module") Module

  p Select Professor/Module:
  input(type="text" id="firstDropdownSearch" placeholder="Search..." oninput="filterDropdown('firstDropdown', this.value)")
  select(id="firstDropdown", onchange="updateSecondDropdown()")
    option(value="") Make selection

  p Select Related:
  input(type="text" id="secondDropdownSearch" placeholder="Search..." oninput="filterDropdown('secondDropdown', this.value)")
  select(id="secondDropdown", onchange="loadChart()")
    option(value="") Make selection

block mainContent
  canvas#ratingChart(width='800', height='400')

  p Add Rating:
  p You must be logged in to submit a rating.

  form(action='/submit-rating', method='POST')
    label(for='comment') Comment:
    input(type='text', name='comment', required=true)

    label(for='rating') Rating:
    select(name='rating', required=true)
      option(value='') Select Rating
      each value in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
        option(value=value) #{value}

    label(for='sem_id') Semester:
    select(id='sem_id')
      option(value='') select semester 

    input(type='hidden', name='prof_id_hidden', id='prof_id_hidden')
    input(type='hidden', name='module_id_hidden', id='module_id_hidden')
    input(type='hidden', name='sem_id_hidden', id='sem_id_hidden')

    button(type='submit') Submit Rating

block scripts
  script(src='/scripts/home.js')
