extends base_profile

block mainContent
  h1 Welcome, #{user.username}
  form(action='/profile/update', method='POST')
    label(for='username') Username:
    input(type='text', name='username', value=user.username, required)
    
    label(for='email') Email:
    input(type='email', name='email', value=user.email, required)

    label(for='visibility') Visibility:
    input(type='checkbox', name='visibility', checked=(user.visibility ? 'checked' : ''))

    button(type='submit') Update Profile
