extends base

block mainContent
  h1 Reset Password
  form(action='/resetpassword' method='post')
    label(for='identifier') Enter your username or email:
    input(type='text' name='identifier' required)
    br
    button(type='submit') Reset Password
